# IDE
.idea/*
.vscode/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
go-frp
client
server

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# OS specific
.DS_Store
Thumbs.db